<a href="https://colab.research.google.com/github/KaduMelo/machine-learning/blob/algoritmo_nao_supervisionado/filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
uri_filmes = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
filmes = pd.read_csv(uri_filmes)

filmes.columns = ['filmes_id', 'titulos', 'generos']

filmes.head()

   filmes_id  ...                                      generos
0          1  ...  Adventure|Animation|Children|Comedy|Fantasy
1          2  ...                   Adventure|Children|Fantasy
2          3  ...                               Comedy|Romance
3          4  ...                         Comedy|Drama|Romance
4          5  ...                                       Comedy

[5 rows x 3 columns]

In [10]:
generos = filmes.generos.str.get_dummies()
dados_dos_filmes = pd.concat([filmes, generos], axis=1)
dados_dos_filmes.head()

   filmes_id                             titulos  ... War  Western
0          1                    Toy Story (1995)  ...   0        0
1          2                      Jumanji (1995)  ...   0        0
2          3             Grumpier Old Men (1995)  ...   0        0
3          4            Waiting to Exhale (1995)  ...   0        0
4          5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
generos_escalados = scaler.fit_transform(generos)

generos_escalados

(9742, 20)

In [18]:
from sklearn.cluster import KMeans

In [20]:
modelo = KMeans(n_clusters=3)
modelo.fit(generos_escalados)

print(f"Grupos {modelo.labels_}")

Grupos [0 0 1 ... 2 0 1]